<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ShareTime" value="00:01"/>
    <add key="AllotTime" value="00:30"/>
    <add key="Monitor" value="E:\名录宝\MLMGC\Monitor\MLMGC.WenKu.exe"/>
  </appSettings>
  <connectionStrings>
    <add name="cns" connectionString="server=192.168.10.15\SQL2008;uid=sa;pwd=123;database=MLMGCDB;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
