<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--文库目录-->
    <add key ="WenKuPath" value ="E:\名录宝\MLMGC\Web\Resource\WenKu\"/>
    <add key="MonitorPath" value="E:\名录宝\MLMGC\Monitor\Temp\"/>
    <!--<add key="MonitorPath" value="E:\名录宝\MLMGC\MLMGC.WenKu\bin\Debug\Temp\"/>-->
    <add key="MonitorFile" value="*.txt"/>
    <!--FlashPrinter的路径-->
    <add key="path" value="D:\Backup\我的文档\下载\FlashPaper2.2\FlashPrinter.exe"/>    
  </appSettings>
  <connectionStrings>
    <add name="cns" connectionString="server=192.168.10.15\sql2008;uid=sa;pwd=123;database=MLMGCDB;Connect Timeout =60000"/>    
  </connectionStrings>
</configuration>
