<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="dal" value="MLMGC.DAL"/>
    <add key="VirtualName" value="Resource"/>
    <add key="Web" value="uploadfile"/>
    
    <!--发送邮件信息-->
    <add key="mailFrom" value="pinsou@163.com"/>
    <add key="DisplayName" value="名录宝"/>
    <add key="host" value="smtp.163.com"/>
    <add key="mailUserName" value="pinsou"/>
    <add key="mailPwd" value="pinsou2011"/>
    <!--WarningDay:警告天数-->
    <add key="WarningDay" value="7"/>
    <!--文库-->
    <add key="ServerPath" value="http://www.mlb.com"/>
    <add key="Folder" value="E:\名录宝\MLMGC\Web\Resource\"/>
    <add key="WenKu" value="WenKu"/>
    <!--企业项目照片-->
    <add key ="EnterpriseItemPhoto" value="EnterpriseItemPhoto"/>
    <!--个人头像-->
    <add key ="PersonalAvatar" value="PersonalAvatar"/>
    
    <!--数据库文件存放位置-->
    <add key="DBFilePath" value="D:\Database\"/>
	</appSettings>
	<connectionStrings>
		<add name="cns" connectionString="server=127.0.0.1;uid=sa;pwd=123;database=MLMGCDB;"/>
	</connectionStrings>
	<system.web>
    <customErrors mode="On" defaultRedirect="ErrorPage.html"/>
		<compilation debug="true" targetFramework="4.0" />
		<pages viewStateEncryptionMode="Never" enableViewStateMac="false" enableViewState="true">
			<controls>
				<add tagPrefix="mlb" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
			</controls>
		</pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400"/>
	</system.web>

</configuration>
