<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dal" value="MLMGC.DAL"/>
    <add key="name" value="mlb02"/>
    <add key="num" value="10000"/>
  </appSettings>
  <connectionStrings>
    <add name="cns" connectionString="server=192.168.10.100\sql2008;uid=sa;pwd=123;database=MLMGCDB;Connect Timeout =60000"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
