<?xml version="1.0"?>
<appSettings>
  <add key="dal" value="MLMGC.DAL"/>
  <!--  
            系统附件上传相关设置
            <ServerPath:上传文件浏览目录>
            <Folder:上传文件根目录>
            <VirtualName:虚拟目录名称>
            <VirtualPath:文件分类路径设置>
            <SimUploadLimit:允许上传个数>
            <SizeLimit:允许上传文件大小>
            <FileExt:允许上传文件格式>
            <IsHave:是否必须上传文件>
            <web:网站通用文件夹>
			<enterprise:企业>
			<PersonalData:个人文件资料文件夹>
			<ImportingExt:导入传文件格式>
    -->
  <add key="ServerPath" value="http://www.mlb.com"/>
  <add key="Folder" value="E:\名录宝\MLMGC\Web\Resource\"/>
  <add key="VirtualName" value="Resource"/>
  <add key="VirtualPath" value="Other/"/>
  <add key="SimUploadLimit" value="1"/>
  <!--上传文件大小限制在50M以内-->
  <add key="SizeLimit" value="52428800"/>
  <add key="FileExt" value="|.jpeg|.jpg|.gif|.png|.bmp|.rar|.zip|.xls|.doc|.txt|.pdf|.wps|.ppt|.mdb|.vsd|.pub|.psd|.mpp|.docx|.xlsx|"/>
  <add key="MovieFileExt" value="*.wav;*.wma;*.mp2;*.mp3;*.asf;*.rm;*.rmvb;*.mpg;*.3gp;*.mp4;*.flv;*.wmv"/>
  <add key="RealMovieFileExt" value=".rm|.rmvb|.mpg|.3gp|.mp4|.flv"/>
  <add key="FilePro" value="|.jpeg|.jpg|.gif|.png|.bmp|.rar|.zip|.xls|.doc|.txt|.pdf|.wps|.ppt|.mdb|.vsd|.pub|.psd|.mpp|.docx|.xlsx|.wav|.wma|.mp2|.mp3|.asf|.rm|.rmvb|.mpg|.3gp|.mp4|.flv|.wmv|"/>
  <add key="FileZipExcel" value="|.zip|.xls|" />
  <add key="IsHave" value="true"/>
  <add key="EnterpriseMaterial" value="EnterpriseMaterial"/>
  <add key="EnterpriseStudy" value="EnterpriseStudy"/>
  <!--文库目录-->
  <add key ="WenKuPath" value ="E:\名录宝\MLMGC\Web\Resource\WenKu\"/>
  <add key="WenKuSizeLimit" value="5242880"/>
  <add key="MonitorPath" value="E:\名录宝\MLMGC\Monitor\Temp\"/>
  <add key="WenKu" value="WenKu"/>
  <add key="WenKuFileExt" value="|.xls|.xlsx|.ppt|.pptx|.doc|.docx|.txt|.pdf|"/>
  <!--FlashPrinter的路径-->
  <add key="Printer" value="D:\Backup\我的文档\下载\FlashPaper2.2\FlashPrinter.exe"/>

  <add key ="EnterpriseAvatar" value="EnterpriseAvatar"/>
  <add key ="PersonalAvatar" value="PersonalAvatar"/>
  <add key ="EnterpriseItemPhoto" value="EnterpriseItemPhoto"/>
  <add key="Web" value="uploadfile"/>
  <!--问题反馈-->
  <add key="Feedback" value="Feedback"/>
  <add key="PersonalData" value="PersonalData"/>
  <add key ="EnterpriseData" value="EnterpriseData"/>
  <add key="ImportingExt" value="|.xls|.xlsx|"/>
  <!--WarningDay:警告天数-->
  <add key="WarningDay" value="7"/>
  <!--发送邮件信息-->
  <add key="mailFrom" value="pinsou@163.com"/>
  <add key="DisplayName" value="名录宝"/>
  <add key="host" value="smtp.163.com"/>
  <add key="mailUserName" value="pinsou"/>
  <add key="mailPwd" value="pinsou2011"/>  
</appSettings>
